.header {
  @apply h-16 bg-white flex items-center cursor-pointer shadow-md;
}

.header .container {
  @apply flex ml-10 mr-10 items-center justify-between;
}

.header .logo {
  @apply text-2xl font-black;

  line-height: 4rem;
}

.header .logo:hover {
  @apply text-blue-500;
}

.header .search {
  @apply flex  mr-8 items-center h-8  leading-8 flex-shrink-0;
}

.header .search input {
  border: 1px solid;

  @apply h-8 pl-2 rounded-md border-gray-300 w-52;
  @apply focus:outline-none focus:ring-1 focus:border-blue-500;
}

.header .search button {
  @apply text-gray-400;

  position: relative;
  right: 25px;
  z-index: 1;
}
