/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply w-screen h-screen text-base bg-gray-100 text-gray-700 font-normal tracking-widest ;
  @apply overflow-x-hidden overflow-y-hidden;

  font-family:
    Inter-var,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.card {
  @apply rounded-md bg-white shadow ;
  @apply hover:shadow-lg hover:-translate-y-2;

  transition: all 0.3s;
}

.el-scrollbar__bar {
  z-index: 20 !important;
}
